<footer class="footer">
  <iframe src="https://letters.empiresec.co/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  <form method="post" action="http://empiresec.co:9000/subscription/form" class="listmonk-form">
    <div>
    <h3>Subscribe</h3>
    <input type="hidden" name="nonce" />
    <p><input type="email" name="email" required placeholder="E-mail" /></p>
    <p><input type="text" name="name" placeholder="Name (optional)" /></p>
    <p>
    <input id="4592b" type="checkbox" name="l" checked value="4592b645-e7c1-4219-9fa7-fad73a95770f" />
    <label for="4592b">Opt-in list</label>
    </p>
    <input type="submit" value="Subscribe " />
    </div>
  </form>
  
  <div class="footer__inner">
    <span>© {{ now.Year }} EmpireSec </span>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
